<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Cancer Detection</title>
    <link rel = "icon" href =  
"https://cdn1.iconfinder.com/data/icons/date-night-3/64/hand-love-embrace-hug-heart-512.png" 
        type = "image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">PredAI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cancer">Cancer Predictor</a>
                </li>
            </ul>

        </div>
    </nav>

    <!-- blog -->
    <div class="container my-2 " action='/aboutcancer'>
        <div class="row featurette mx-2">
            <div class="col-md-7 my-3">
                <h2 class="featurette-heading">Breast Cancer<span class="text-muted">~Synopsis</span></h2>
                <p class="lead">Breast cancer is cancer that develops from breast tissue. Signs of breast cancer may include a lump in the breast, a change in breast shape, dimpling of the skin, fluid coming from the nipple, a newly-inverted nipple, or a red or scaly
                    patch of skin. In those with distant spread of the disease, there may be bone pain, swollen lymph nodes, shortness of breath, or yellow skin.</p>
            </div>
            <div class="col-md-5 my-3">
                <img src="/static/breast.jfif" class="d-block w-100" alt="...">
            </div>
        </div>


        <div class="row featurette mx-2">
            <div class="col-md-7 order-md-2 my-3">
                <h2 class="featurette-heading">Breast Cancer<span class="text-muted">~Attribute Information</span></h2>
                <p class="lead">Attribute Information:
                    <p>♦ID number</p>
                    <p>♦radius (mean of distances from center to points on the perimeter)</p>
                    <p>♦texture (standard deviation of gray-scale values)</p>
                    <p>♦perimeter</p>
                    <p>♦area</p>
                    <p>♦smoothness (local variation in radius lengths)</p>
                    <p>♦compactness (perimeter^2 / area - 1.0)</p>
                    <p>♦concavity (severity of concave portions of the contour)</p>
                    <p>♦concave points (number of concave portions of the contour)</p>
                    <p>♦symmetry</p>
                    <p>♦fractal dimension ("coastline approximation" - 1)</p>
                </p>
            </div>
            <div class="col-md-5 order-md-1 my-3">
                <img src="/static/breast1.jfif" class="d-block w-100" alt="...">
            </div>
        </div>


        <div class="row featurette mx-2">
            <div class="col-md-7 my-3">
                <h2 class="featurette-heading">Breast Cancer<span class="text-muted">~Symptoms</span></h2>
                <p class="lead">Requires a medical diagnosis:
                    <p>
                        ♦Symptoms of breast cancer include a lump in the breast, bloody discharge from the nipple and changes in the shape or texture of the nipple or breast.</p>
                    <p class="lead">Can have no symptoms, but people may experience::
                        <p>♦Breast: discomfort, inverted nipple, lumps, or nipple discharge Also common: redness, swollen lymph nodes, or thickening or puckering of the skin</p>
                    </p>

                </p>
            </div>
            <div class="col-md-5 my-3">
                <img src="/static/breast2.jfif" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>