<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Cancer Detection</title>
    <link rel = "icon" href =  
"https://cdn1.iconfinder.com/data/icons/date-night-3/64/hand-love-embrace-hug-heart-512.png" 
        type = "image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">PredAI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/heart">Heart Disease Predictor</a>
                </li>
            </ul>

        </div>
    </nav>

    <!--  -->

    <!-- blog -->
    <div class="container my-2 " action='/aboutliver'>
        <div class="row featurette mx-2">
            <div class="col-md-7 my-3">
                <h2 class="featurette-heading">Heart Attack<span class="text-muted">~Synopsis</span></h2>
                <p class="lead">A heart attack is a medical emergency. A heart attack usually occurs when a blood clot blocks blood flow to the heart. Without blood, tissue loses oxygen and dies. Symptoms include tightness or pain in the chest, neck, back or arms, as
                    well as fatigue, lightheadedness, abnormal heartbeat and anxiety. Women are more likely to have atypical symptoms than men. Treatment ranges from lifestyle changes and cardiac rehabilitation to medication, stents and bypass surgery.</p>
            </div>
            <div class="col-md-5 my-3">
                <img src="/static/heart1.jfif" class="d-block w-100" alt="...">
            </div>
        </div>


        <div class="row featurette mx-2">
            <div class="col-md-7 order-md-2 my-3">
                <h2 class="featurette-heading">Heart Attack<span class="text-muted">~Attributes</span></h2>
                <p class="lead">Here are few features which need to be filled in order to make the predictions whether the patient will encounter an Heart Attack or not</p>
                <p class="lead">
                    <p>♦age</p>
                    <p>♦Gender of the patient</p>
                    <p>♦chest pain type (4 values)</p>
                    <p>♦resting blood pressure</p>
                    <p>♦serum cholestoral in mg/dl</p>
                    <p>♦fasting blood sugar > 120 mg/dl</p>
                    <p>♦ resting electrocardiographic results (values 0,1,2)</p>
                    <p>♦maximum heart rate achieved</p>
                    <p>♦exercise induced angina</p>
                    <p>♦oldpeak = ST depression induced by exercise relative to rest</p>
                    <p>♦the slope of the peak exercise ST segment</p>
                    <p>♦number of major vessels (0-3) colored by flourosopy</p>
                    <p>♦ thal: 0 = normal; 1 = fixed defect; 2 = reversable defect</p>
                    <p>♦target: 0= less chance of heart attack 1= more chance of heart attack</p>
                </p>


            </div>
            <div class="col-md-5 order-md-1 my-3">
                <img src="/static/heart2.jfif" class="d-block w-100" alt="...">
            </div>
        </div>


        <div class="row featurette mx-2">
            <div class="col-md-7 my-3">
                <h2 class="featurette-heading">Heart Attack<span class="text-muted">~Symptoms</span></h2>
                <p class="lead">Signs and symptoms associated with of Heart attack include:
                    <p>♦Pain areas: in the area between shoulder blades, arm, chest, jaw, left arm, or upper abdomen</p>
                    <p>♦ Pain types: can be like a clenched fist in the chest Pain circumstances: can occur during rest</p>
                    <p>♦Whole body: dizziness, fatigue, light-headedness, clammy skin, cold sweat, or sweating</p>
                    <p>♦Gastrointestinal: heartburn, indigestion, nausea, or vomiting Arm: discomfort or tightness</p>
                    <p>♦Neck: discomfort or tightness</p>
                    <p>♦Also common: anxiety, chest pressure, feeling of impending doom, palpitations, shortness of breath, or shoulder discomfort</p>
                </p>
            </div>
            <div class="col-md-5 my-3">
                <img src="/static/heart3.jfif" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>